/* linking html file to css file */
<head>
  <title>Vacation World</title>
  <link href='style.css' rel='stylesheet'>
</head>

/* '*'= allows us to manipulate everything in the html document */
* {
  border: 1px solid red;
}

p {
  color: green;
}

h1 {
  color: maroon;
}

/* class */
.title {
  color: teal;
}

.uppercase {
  text-transform: uppercase;
}

/* id */
#article-title {
  font-family: cursive;
}

/* type[attribute*=value] */
a[href*='florence'] {
  color: lightgreen;
}
a[href*='beijing']{
  color: lightblue;
}
a[href*='seoul']{
  color: lightpink;
}
